/* COLORS */
$dark: #1e1e3f; // dark purple
$indigo: #001775;
$green: #38D6B4;
$pink: #FF7CC2;
$yellow: #d0b628;
$blue: #547cff;
$red: #cb4155;
$purple: #514A8E;

$white: #ECE1F1;
$black: #16023D;

/* FONTS */
@import '@fontsource-variable/recursive';
$font-family: 'Recursive Variable', sans-serif;