---
// import { AuthForm } from "../components/auth-form";
import { getDraftPosts } from "../lib/api";

const data = await getDraftPosts();
console.log(data);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>auth.astro</title>
	</head>
	<body>
		<h1>auth.astro</h1>

		<!-- <AuthForm /> -->
	</body>
</html>
