---
export const prerender = true;
import MainLayout from "../layouts/Main.astro";
// import homepage query from api
import { getHomePageContent } from "../lib/api/pages/home";
const { pageBy } = await getHomePageContent();
---

<MainLayout title="Home Page">
	<div class="container">
		<div class="content" set:html={pageBy.content} />
	</div>
</MainLayout>

<style lang="scss">
	@import "../styles/vars";

	.content {
		font-size: 24px;
		padding-bottom: 30px;
	}
</style>
