---
export const prerender = true;
import MainLayout from "../layouts/Main.astro";
// import homepage query from api
import { getHomePageContent } from "../lib/api/pages/home";
const { pageBy } = await getHomePageContent();
---

<MainLayout title="Home Page">
	<div class="container">
		<h1>Home page static title</h1>
	</div>
</MainLayout>
