---
export const prerender = true;
import MainLayout from "../layouts/Main.astro";
---

<MainLayout title="Home Page">
	<div class="container">
		<article>
			<h1>Home Page</h1>
			<p>This is the home page.</p>
		</article>
	</div>
</MainLayout>
