---
export const prerender = true;
import MainLayout from "../layouts/Main.astro";
// import homepage query from api
import { getHomePageContent } from "../lib/api/pages/home";
const { pageBy } = await getHomePageContent();
console.log(pageBy);
---

<MainLayout title="Home Page">
	<div class="container">
		{
			// map pageBy.flexLayouts.flexLayouts
			pageBy.flexLayouts.flexLayouts.map((layout) => (
				<pre>{layout.fieldGroupName}</pre>
			))
		}
	</div>
</MainLayout>
