---
import Nav from "../components/Nav.astro";

const { menu, generalSettings } = Astro.props;
// console.log(menu.menuItems.nodes);
menu.menuItems.nodes.map((x) => console.log(x.label));
---

<header>
	<h1>{generalSettings.title} w/ <strong>ASTRO</strong></h1>
	<p>{generalSettings.description}</p>

	<Nav menu={menu.menuItems.nodes} />
</header>
