---
export const prerender = true;
const { generalSettings } = Astro.props;
---

<header class="site__header">
	<div class="container">
		<div class="site__brand">
			<h1 class="site__title">
				<a href="/">{generalSettings.title}</a>
				<a class="mobile" href="/">hc.dev</a>
			</h1>
		</div>

		<nav class="site__nav">
			<ul>
				<li>
					<a href="#projects">Projects</a>
				</li>
				<li>
					<a href="#resume">Resume</a>
				</li>
				<li>
					<a href="#skills">Skills</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<style lang="scss">
	@import "../styles/vars";
	.site__header {
		background-color: $dark;
		background: linear-gradient(45deg, $dark 20%, $dark 80%);
		border-top: 1px solid $green;
		border-bottom: 1px solid $green;
		height: 60px;

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			max-width: none !important;
			width: 100%;
		}

		/* Brand */
		.site__brand {
			background-color: $pink;
			border-top: 1px solid $pink;
			border-bottom: 1px solid $pink;
			padding: 15px;
			display: block;

			.site__title {
				margin: 0;
				line-height: 30px;
				font-size: 15px;

				@media (min-width: $tablet) {
					font-size: 18px;
				}

				a {
					color: $dark;
					display: none;
					font-variation-settings: "wght" 200;

					&:hover {
						text-decoration: none;
						font-variation-settings: "wght" 800, "CASL" 1;
					}

					@media (min-width: $phone) {
						display: block;
					}

					&.mobile {
						display: block;

						@media (min-width: $phone) {
							display: none;
						}
					}
				}
			}
		}

		/* Navigation */
		.site__nav {
			ul {
				list-style: none;
				display: flex;
				margin-top: 0;
				margin-bottom: 0;
				padding-bottom: 0;

				li {
					margin-right: 15px;
					margin-top: 0;
					margin-bottom: 0;

					@media (min-width: $tablet) {
						margin-right: 20px;
					}

					a {
						color: $pink;
						font-weight: bold;
						font-size: 14px;

						@media (min-width: $tablet) {
							font-size: 17px;
						}
					}

					&:first-child {
						margin-top: 0;
					}
					@media (min-width: $tablet) {
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
</style>
