---
export const prerender = true;
const { navMenu, generalSettings } = Astro.props;
---

<header class="site__header">
	<div class="container">
		<div class="site__brand">
			<h1 class="site__title">
				<a href="/">{generalSettings.title}</a>
			</h1>
		</div>

		<nav class="site__nav">
			<ul>
				<!-- <li>
					<a href="/">Home</a>
				</li> -->
				<li>
					<a href="#projects">Projects</a>
				</li>
				<!-- {
					navMenu.nodes.map((item) => (
						<li>
							<a href={item.uri || "/"}>{item.label}</a>
						</li>
					))
				} -->
			</ul>
		</nav>
	</div>
</header>

<style lang="scss">
	@import "../styles/vars";
	.site__header {
		background-color: $dark;
		background: linear-gradient(45deg, $dark 20%, $dark 80%);
		border-top: 1px solid $green;
		border-bottom: 1px solid $green;
		height: 60px;

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
		}

		/* Brand */
		.site__brand {
			background-color: $pink;
			border-top: 1px solid $pink;
			border-bottom: 1px solid $pink;
			padding: 15px;
			display: block;

			.site__title {
				line-height: 30px;
				font-size: 18px;
				margin: 0;

				a {
					color: $dark;
					font-variation-settings: "wght" 200;

					&:hover {
						text-decoration: none;
						font-variation-settings: "wght" 800, "CASL" 1;
					}
				}
			}
		}

		/* Navigation */
		.site__nav {
			ul {
				list-style: none;
				display: flex;
				margin-top: 0;
				margin-bottom: 0;
				padding-bottom: 0;

				li {
					margin-right: 2rem;
					margin-top: 0;
					margin-bottom: 0;

					a {
						color: $pink;
						font-weight: bold;
					}

					&:first-child {
						margin-top: 0;
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
</style>
