---
export const prerender = true;
import { getNavMenu } from "../lib/api";
const menu = await getNavMenu();
let myMenu = menu.menuItems.nodes;
---

<nav>
	<ul>
		<!-- {JSON.stringify(menu)} -->
		<li>
			<a href="/">Home</a>
		</li>

		{
			myMenu.map((item) => (
				<li>
					<a href={item.uri || "/"}>{item.label}</a>
				</li>
			))
		}
	</ul>
</nav>

<style lang="scss">
	nav {
		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				margin-left: 1rem;
				a {
					text-decoration: none;
					color: #000;
					font-weight: bold;
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
</style>
