---
export const prerender = true;
// Github Repos
import { getRepos, getProfileLink } from "../lib/api/github";
const repos = await getRepos();
// Github Profile Link
const profileLink = await getProfileLink();
---

<section class="projects">
	<div class="smooth-scroll-anchor" id="projects"></div>
	<div class="container">
		<div class="projects__header">
			<h2>My Projects</h2>
			<a
				href={profileLink}
				class="profile-link"
				target="_blank"
				rel="noopener noreferrer">GitHub Profile</a
			>
		</div>
		<div class="repos-list">
			{
				repos?.map((repo) => (
					<div class="repo">
						<a href={repo.url} target="_blank" rel="noopener noreferrer">
							{repo.name}
						</a>
					</div>
				))
			}
		</div>
	</div>
</section>

<style lang="scss">
	@import "../styles/vars";

	.projects {
		background-color: $green;
		padding: 0px 0 50px 0;

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;

			h2 {
				margin: 0;
				padding: 0;
				background-color: none;
				font-variation-settings: "MONO" 1, "CASL" 1, "wght" 600, "slnt" -5,
					"CRSV" 1;
			}
			.profile-link {
				background-color: $pink;
				padding: 10px 20px;
				color: $dark;
				font-variation-settings: "MONO" 1, "CASL" 1, "wght" 800, "slnt" -5,
					"CRSV" 1;
			}
		}

		.repos-list {
			display: grid;
			grid-template-columns: 1fr;

			@media (min-width: $tablet) {
				gap: 20px;
				grid-template-columns: 1fr 1fr;
			}

			@media (min-width: $laptop) {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
		.repo {
			background-color: $dark;
			margin: 5px 0;
			padding: 20px;
		}
	}
</style>
